.container-hero{
    background-image: url('/src/assets/Fintech\ Landingpage\ Concept\ \(Community\).svg');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-principal{
    padding-top: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    gap: 50px;
}
.container-image{
    max-width: 475px;
    order: 1;
}
.container-image img{
    width: 100%;
    filter: drop-shadow(2px 4px 6px #FF6B35)
}
.container-text{
    width: 50%;
    text-align: left;
}
.container-text h1{
    font-size: 40px;
    color: #dcdcdc;
    line-height: 1.2;
    letter-spacing: 1px;
}
.container-text div{
    /*padding: 10px;*/
}
.p-hero-section{
    color: #bdbdbd;
    line-height: 1.4;
    font-size: 24px;
    margin-top: 1.5rem;
    letter-spacing: 1px;
}

.span-hero-section{
    display: block;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 1px;
    margin-bottom: 0.2rem;
    color: #FF6B35;
    animation: fadeLeft linear both;
    animation-duration: 2s;
}
@media screen and ( width < 1199px) {
    .p-hero-section {
        font-size: 21px;
    }
    .container-text h1{
        font-size: 37px;
    }
}

@media screen and (width < 972px) {
    .container-hero{
        height: auto;
    }
    .hero-principal{
        flex-direction: column;
        padding-left: 50px;
        padding-right: 50px;
        justify-content: center;
        margin-top: 50px;
    }
    .container-text{
        width: 100%;
    }
}
@media  screen and (width<768px) {
    .container-text h1{
        font-size: 25px;
    }
    .p-hero-section {
        font-size: 17px;
    }
    .span-hero-section{
        font-size: 18px;
    }
}

.animate {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    animation-timing-function: ease;
}

/* Keyframes para fadeIn */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px) scale(0.7);
    }
    to {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px) scale(0.7);
    }
    to {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}


.fadeLeft {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fadeLeft;
    animation-name: fadeLeft;
}

/* Keyframes para fadeLeft */
@-webkit-keyframes fadeLeft {
    from {
        visibility: visible;
        opacity: 0;
        /* Cambia -100% a -30% o el valor que prefieras */
        -webkit-transform: translate3d(-15%, 0, 0);
        transform: translate3d(-15%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeLeft {
    from {
        visibility: visible;
        opacity: 0;
        /* Cambia -100% a -30% o el valor que prefieras */
        -webkit-transform: translate3d(-15%, 0, 0);
        transform: translate3d(-15%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}