.container-hero{
    background-image: url('/src/assets/Fintech\ Landingpage\ Concept\ \(Community\).svg');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-principal{
    padding-left: 4rem;
    padding-right: 4rem;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
}
.container-image{
    order: 1;
}
.container-image img{
    width: 500px;
    filter: drop-shadow(2px 4px 6px #dcdcdc)
}
.container-text{
    width: 50%;
    text-align: left;
    padding-right: 50px;
}
.container-text h1{
    font-size: 50px;
    color: #dcdcdc;
    line-height: 1.2;
    
}
.container-text div{
    /*padding: 10px;*/
}
.container-text p{
    color: #bdbdbd;
    line-height: 1.4;
    font-size: 24px;
    margin-top: 2rem;
}
.span-hero-section{
    margin-bottom: 1.5rem;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
    color: #FF6B35;
    animation: fadeLeft linear both;
    animation-duration: 2s;
}
/* General fadeIn animation */
/* Animación de fadeIn */
.animate {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    animation-timing-function: ease;
}

/* Keyframes para fadeIn */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px) scale(0.7);
    }
    to {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px) scale(0.7);
    }
    to {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}


.fadeLeft {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fadeLeft;
    animation-name: fadeLeft;
}

/* Keyframes para fadeLeft */
@-webkit-keyframes fadeLeft {
    from {
        opacity: 0;
        /* Cambia -100% a -30% o el valor que prefieras */
        -webkit-transform: translate3d(-30%, 0, 0);
        transform: translate3d(-30%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeLeft {
    from {
        opacity: 0;
        /* Cambia -100% a -30% o el valor que prefieras */
        -webkit-transform: translate3d(-15%, 0, 0);
        transform: translate3d(-15%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    transform: translateZ(0);}