.container-projects{
    height: auto;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 8rem;
    margin-bottom: 8rem;
    margin-top: 2rem;
}
.container-titles-project{
    text-align: center;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
}
.h2-projects{
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 5%;
}
.h3-projects{
    line-height: 1.8em;
    font-weight: 500;
    font-size: 18px;
}

.presentation-project{
    display: flex;
    flex-direction: column;
    padding-top: 44px;
    padding-bottom: 44px;
}
.container-text-projects{
    display: flex;
    gap: 50px
}
.container-img-project{
    max-width: 600px;
     visibility: hidden; /* El elemento no es visible, pero ocupa su espacio */
}
.container-img-project img{
    width: 100%;
}
.container-description-titles-project{
    visibility: hidden;
}
.title-project{
    text-transform: uppercase;
    line-height: 1.5em !important;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 3%;
}
.description-project{
    line-height: 1.8em;
    font-weight: 500;
    font-size: 18px;
}
.btn-project{
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    border-radius: 25px;
    border: 3px solid grey;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    float: right;
    margin-top: 15px;
    letter-spacing: 2px;
    color: grey;
    max-width: 200px;
}
.btn-project:hover{
    border: 3px solid #FF6B35;
    color: #FF6B35;
}
.animate-fade-right {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fadeRight;
    animation-name: fadeRight;
    animation-timing-function: ease;
    visibility: visible;
}
.animate-fade-up{
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fadeUp;
    animation-name: fadeUp;
    animation-timing-function: ease;
}
.animate-fade-down{
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fadeDown;
    animation-name: fadeDown;
    animation-timing-function: ease;
}
@-webkit-keyframes fadeRight {
    from {
        visibility: visible;
        opacity: 0;
        transform: translate3d(15%, 0, 0);
        -webkit-transform: translate3d(15%, 0, 0);

    }
    to {
        visibility: visible;
        opacity: 1;
        transform: none;
        -webkit-transform: none;
    }
}

@keyframes fadeRight {
    from {
        visibility: visible;
        opacity: 0;
        transform: translate3d(15%, 0, 0);
        -webkit-transform: translate3d(15%, 0, 0);

    }
    to {
        visibility: visible;
        opacity: 1;
        transform: none;
        -webkit-transform: none;
    }
}

@-webkit-keyframes fadeUp {
    from {
        visibility: visible;
        opacity: 0;
        -webkit-transform: translate3d(0, 15%, 0);
        transform: translate3d(0, 15%, 0);
    }
    to {
        visibility: visible;
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeUp {
    from {
        visibility: visible;
        opacity: 0;
        -webkit-transform: translate3d(0, 15%, 0);
        transform: translate3d(0, 15%, 0);
    }
    to {
        visibility: visible;
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes fadeDown {
    from {
        visibility: visible;
        opacity: 0;
        -webkit-transform: translate3d(0, -15%, 0);
        transform: translate3d(0, -15%, 0);
    }
    to {
        visibility: visible;
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeDown {
    from {
        visibility: visible;
        opacity: 0;
        -webkit-transform: translate3d(0, -15%, 0);
        transform: translate3d(0, -15%, 0);
    }
    to {
        visibility: visible;
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.animation-fade-left {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fadeLeft;
    animation-name: fadeLeft;
}

/* Keyframes para fadeLeft */
@-webkit-keyframes fadeLeft {
    from {
        visibility: visible;
        opacity: 0;
        /* Cambia -100% a -30% o el valor que prefieras */
        -webkit-transform: translate3d(-15%, 0, 0);
        transform: translate3d(-15%, 0, 0);
    }
    to {
        visibility: visible;
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeLeft {
    from {
        visibility: visible;
        opacity: 0;
        /* Cambia -100% a -30% o el valor que prefieras */
        -webkit-transform: translate3d(-15%, 0, 0);
        transform: translate3d(-15%, 0, 0);
    }
    to {
        visibility: visible;
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@media screen and (width < 980px) {
    .container-projects{
        padding: 0 50px;
    }
    .container-text-projects{
        flex-direction: column;
    }
    .container-img-project{
        max-width: 100%;
    }
}