.container-form{
    background-image: url('/src/assets/Frame\ 144\ copy.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    flex-direction: column; /* Alinear el contenido en columna */
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
    color: #dcdcdc;
}

.titles-form{
    text-align: center;
    /* display: flex; */
    margin-bottom: 4rem;
}
.titles-form h2{
    font-size: 42px;
    line-height: 1.3em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    letter-spacing: 1px;
}
.titles-form h3{
    text-transform: uppercase;
    font-size: 30px;
    color: #FF6B35;
    line-height: 1.3em;
    font-weight: 700;
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
}
.titles-form p {
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 1px;
}
.container-child-form{
    /*padding: 0 2rem;*/
    width: 100%;
    max-width: 800px; /* Asegura que el form no se salga de los límites */
    visibility: hidden;
}
.container-form-inputs{
    max-width: 100%; /* Se ajusta al 100% del padre */
}

.container-inputs{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}
.container-inputs input{
    background-color: inherit;
    display: block;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid #dcdcdc;
    outline: none;
    width: 100%;
    color: #ffffff; /* Cambiar el color del texto a blanco o un tono claro */
    caret-color: #ffffff; /* Esto cambiará el color del cursor */
    line-height: 1.5; 
}
.textarea{
    background-color: transparent;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid #dcdcdc;
    outline: none;
    color: #dcdcdc;
    width: 100%;
}
.btn-submit{
    background-color: transparent;
    color: #dcdcdc;
    border: none;
    text-transform: uppercase;
    border-radius: 25px;
    border: 3px solid #dcdcdc;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    float: right;
    margin-top: 15px;
}
.btn-submit:hover{
    border: 3px solid #FF6B35;
    color: #FF6B35;
}